body { margin: 0; padding: 46px 10px 10px; font: 12px sans-serif; }
body.active > * { display: none; }
body.active > #demoengine { display: block; }
#demoengine { margin: -46px -10px 10px; height: 36px; background-color: #333333; }
#demoengine a { display: block; float: left; margin-top: 6px; margin-right: 2px; padding-left: 10px; padding-right: 10px; line-height: 24px; color: #333333; background-color: #EEEEEE; text-decoration: none; }
#demoengine a.active { color: #008000; background-color: #FFFFFF; }
#demoengine a.corner-l { margin-left: 10px; border-top-left-radius: 5px; border-bottom-left-radius: 5px; }
#demoengine a.corner-r { border-top-right-radius: 5px; border-bottom-right-radius: 5px; }
#demoengine div { display: none; position: absolute; top: 36px; bottom: 0; left: 0; right: 0; z-index: 999; background-color: #F0F0F0; }
#demoengine div.active { display: block; }
#demoengine pre { margin: 0; border: none; padding: 10px; background-color: #F0F0F0; }
@media print {
	#demoengine { display: none; }
}
/* prettify.css */
.pln { color: #000; }
@media screen {
	.str { color: #080; }
	.kwd { color: #008; }
	.com { color: #800; }
	.typ { color: #606; }
	.lit { color: #066; }
	.pun, .opn, .clo { color: #660; }
	.tag { color: #008; }
	.atn { color: #606; }
	.atv { color: #080; }
	.dec, .var { color: #606; }
	.fun { color: red; }
}
@media print,projection {
	.str { color: #060; }
	.kwd { color: #006; font-weight: bold; }
	.com { color: #600; font-style: italic; }
	.typ { color: #404; font-weight: bold; }
	.lit { color: #044; }
	.pun, .opn, .clo { color: #440; }
	.tag { color: #006; font-weight: bold; }
	.atn { color: #404; }
	.atv { color: #060; }
}
pre.prettyprint { padding: 2px; border: 1px solid #888; }
ol.linenums { margin-top: 0; margin-bottom: 0; }
li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 { list-style-type: none; }
li.L1, li.L3, li.L5, li.L7, li.L9 { background: #eee; }
