/* 
    Document   : internship
    Created on : Apr 4, 2014, 9:29:46 PM
    Author     : user
    Description:
        Purpose of the stylesheet follows.
*/

.internship_top{
   
}
.hide_button{
    display:none;
    
}
.show_button{
    display:block;
}
.unapply_intern:hover{
   background-color:tomato !important;
    color:white;

}